

   <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary  rounded p-4">
                    <div class="text-center align-items-center  justify-content-between mb-3 ">
                        <h4 >Detail Message</h4>
                        <hr>
                    </div>
              <div class="ml-0">
               
                   <div class="bio-row">
                      <p><span class="text-white text-bold">Name</span>: {{detailmessage.Name}}</p>
                  </div>
                    <div class="bio-row">
                      <p><span class="text-white text-bold">Email</span>: {{detailmessage.Email}}</p>
                  </div>
                     <div class="bio-row">
                      <p><span class="text-white text-bold">Subect</span>: {{detailmessage.Subject}}</p>
                  </div>
                 <div class="bio-row">
                      <p><span class="text-white text-bold">Message</span>: {{detailmessage.Message}}</p>
                  </div>
                
                    </div>
             

                
                   
                </div>
            </div>