<head>
  <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
  <style>
    .container-video {
      margin: auto;
      margin-top: 5%;
      width: 80%;
      height: 70%;
    }

    .position-video {
      width: 100%;
      height: 100%;
    }
  </style>
  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
{{!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> --}}
</head>

<body>
 <embed src="/public/video/IdChapter{{this.IdChapter}}/IdLesson{{this.IdLesson}}/video.pdf" width="100%" height="100%" />
  <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
</body>